<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worday Warrior</title>
</head>

<body>
    <h1>
        Hey! It's <%= isWeekend ? "the Weekend" : "a Weekday" %>,
        it's time to <%= isWeekend ? "have fun!" : "work hard!" %>
    </h1>
</body>

</html>